## Q1. List any five functions of the pandas library with execution.

Yes Here are five function of the pandas library

import pandas as pd
 data = {
     'Name' : ['Ram', 'Shyam', "Rahul"].
     'Age' : [24,45,23]
 }
    
1. Read_csv
df.read_csv('File/index.csv')

2. Head
df.head()

3.describe
df.describe()

4. Groupby

gf=df.groupby('city').mean()\
gf


5. merge
data = data = {
     'Name' : ['Ram', 'Shyam', "Rahul"].
     'Age' : [24,45,23]
 }
 
data2 = pd.dataframe(data)
merge = pd.merge(df,data, on='city')
merge

## Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [7]:
import pandas as pd
def reindex_dataframe(df):
    new_index = range(1,2*len(df)+1,2)
    df.index = new_index
    return df

In [8]:
data = {'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]}
df = pd.DataFrame(data)


reindexed_df = reindex_dataframe(df)
reindexed_df

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

## 3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [19]:
import pandas as pd

def sum_first_three_values(df):
    
    if 'Values' not in df.columns:
        print("The DataFrame does not contain a 'Values' column.")
        return
    
    sum_values = df['Values'].head(3).sum()
    
    
    print(f"The sum of the first three values in the 'Values' column is: {sum_values}")


data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)


sum_first_three_values(df)

The sum of the first three values in the 'Values' column is: 60

In [ ]:
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [20]:
import pandas as pd

def add_word_count_column(df):
   
    if 'Text' not in df.columns:
        print("The DataFrame does not contain a 'Text' column.")
        return df
    
  
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    
    return df


data = {'Text': ['Hello world', 'This is a test', 'Pandas is great']}
df = pd.DataFrame(data)


df_with_word_count = add_word_count_column(df)
df_with_word_count

              Text  Word_Count
0      Hello world           2
1   This is a test           4
2  Pandas is great           3

In [ ]:
Q5. How are DataFrame.size() and DataFrame.shape() different?

#### DataFrame.size: This attribute returns the total number of elements in the DataFrame. It is equivalent to the number of rows multiplied by the number of columns.
df.size 

#### DataFrame.shape: This attribute returns a tuple representing the dimensionality of the DataFrame. It returns the number of rows and the number of columns as (rows, columns)
df.shape

In [ ]:
Q6. Which function of pandas do we use to read an excel file?

import pandas as pd

df = pd.read_excel('path_to_file.xlsx')

In [ ]:
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email 
addresses in the format 'username@domain.com'. Write a Python function that creates a new column 
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the 
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your 
function should extract the username from each email address and store it in the new 'Username' 
column.

In [21]:
import pandas as pd

def extract_usernames(df):
   
    if 'Email' not in df.columns:
        print("The DataFrame does not contain an 'Email' column.")
        return df
    
    
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    
    return df


data = {'Email': ['john.doe@example.com', 'jane.smith@test.com', 'foo.bar@domain.org']}
df = pd.DataFrame(data)


df_with_usernames = extract_usernames(df)
print(df_with_usernames)

                  Email    Username
0  john.doe@example.com    john.doe
1   jane.smith@test.com  jane.smith
2    foo.bar@domain.org     foo.bar

### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

In [22]:
import pandas as pd

def select_rows(df):
    
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    
    return selected_rows


data = {'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)


selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [ ]:
Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, 
median, and standard deviation of the values in the 'Values' column.

In [23]:
import pandas as pd

def calculate_statistics(df):
    if 'Values' not in df.columns:
        print("The DataFrame does not contain a 'Values' column.")
        return
    
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_dev_value = df['Values'].std()
    
    return mean_value, median_value, std_dev_value


data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)


mean_value, median_value, std_dev_value = calculate_statistics(df)
print(f"Mean: {mean_value}, Median: {median_value}, Standard Deviation: {std_dev_value}")

Mean: 30.0, Median: 30.0, Standard Deviation: 15.811388300841896

In [ ]:
Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to 
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days 
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and 
should include the current day.

In [26]:
import pandas as pd

def add_moving_average(df):
   
    df['Date'] = pd.to_datetime(df['Date'])
    
    
    df = df.sort_values(by='Date')
    
    
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    return df


data = {'Date': pd.date_range(start='2023-01-01', periods=10), 'Sales': [100, 200, 150, 300, 250, 400, 500, 450, 350, 600]}
df = pd.DataFrame(data)


df_with_moving_average = add_moving_average(df)
print(df_with_moving_average)

        Date  Sales  MovingAverage
0 2023-01-01    100     100.000000
1 2023-01-02    200     150.000000
2 2023-01-03    150     150.000000
3 2023-01-04    300     187.500000
4 2023-01-05    250     200.000000
5 2023-01-06    400     233.333333
6 2023-01-07    500     271.428571
7 2023-01-08    450     321.428571
8 2023-01-09    350     342.857143
9 2023-01-10    600     407.142857

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new 
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. 
Monday, Tuesday) corresponding to each date in the 'Date' column

In [28]:
import pandas as pd

def add_weekday_column(df):
   
    df['Date'] = pd.to_datetime(df['Date'])
    
   
    df['Weekday'] = df['Date'].dt.day_name()
    
    return df

data = {'Date': pd.date_range(start='2023-01-01', periods=5)}
df = pd.DataFrame(data)


df_with_weekday = add_weekday_column(df)
print(df_with_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [25]:
import pandas as pd

def select_date_range(df):

    df['Date'] = pd.to_datetime(df['Date'])
    
   
    selected_rows = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]
    
    return selected_rows


data = {'Date': pd.date_range(start='2023-01-01', end='2023-02-10')}
df = pd.DataFrame(data)


selected_df = select_date_range(df)
print(selected_df)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

In [ ]:
Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to 
be imported?

In [24]:
import pandas as pd